/**** Base ****/

*
{
    /* Les propriete width et height incluent le contenu padding et border mais pas la margin */
    box-sizing: border-box;
}

body, input
{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

h1
{
    font-size: 20px;
    font-weight: 700;
}

h2
{
    font-size: 17px;
    font-weight: 700;
}

h3
{
    font-size: 15px;
    font-weight: 700;
}

a
{
    color: black;
    text-decoration: none;
}

/**** Layout ****/
header, section
{
    width: 95%;
    margin: 0 2.5%;
}

footer
{
    width: 100%;
    margin: 0;
}

/**** Modules ****/
/*** Header ***/
header
{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

header img
{
    padding-left: 10px;
    width: 100px;
    object-fit: contain;
}

nav ul
{
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

nav li
{
    list-style: none;
}

header a
{
    padding: 0 30px;
    font-size: 15px;
}

nav a:hover
{
    color: #0065FC;
    padding-top: 38px; 
    border-top: 2px solid #0065FC;
} 

/*** Main ***/

/** Search Section **/

#search
{
    margin-top: 30px;
}

#search p
{
    margin-bottom: 20px;
}

form
{
    width: 32%;
    height:47px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* map pin */
form .form-item:nth-child(1)
{
    width: 12%;
    height: 100%;
    background-color: #F2F2F2;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    display: flex; /*Pour centrer l'icône i avec margin:auto*/
}
form .form-item i
{
    font-size: 17px; 
    margin: auto;
} 

/* search input */
form .form-item:nth-child(2)
{
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid #F2F2F2;
    font-weight:700;
    width: 55%;
    height: 100%;
}

/* search button */
form .form-item:nth-child(3)
{
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    width: 32%;
    height: 100%;
    display: flex;
}
form .form-item:nth-child(3) input
{
    font-size: 17px;
    font-weight: 700;
    color:white;
    background: none;
    border: none;
    margin: auto;
}

form .form-item:nth-child(3) i
{
    display:none;
}

/* filters */
#filters
{
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#filters h2:first-child
{
    margin-right: 20px;
}

#filters h2::first-letter
{
    /* 1st letter capitalized to get the accents */
    text-transform: capitalize;  
}

.filter-buttons
{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 48px;
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 30px;
}

.filter-buttons:hover
{
    background-color: #F2F2F2;
}

.filter-buttons i
{
    margin-top: 0;
    font-size: 18px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 100%;
}

.filter-buttons:nth-child(2) i
{
    padding: 15px 13px;
}

.filter-buttons:nth-child(3) i
{
    padding: 15px 17px;
}

.filter-buttons h2
{
    padding: 0 14px 0 9px;
}

#search p:last-child
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
}

#search p i
{
    margin: auto;
    font-size: 11px;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    padding: 5px 9px;
    border-radius: 100%;
    margin-right: 10px;
}

#search p #nb-accom
{
    width: 100%;
}

/** Accomodation Section **/

#accomodation
{
    display: flex;
    justify-content: space-between;
}

#accomodation h2, #activities h2
{
    font-size: 21px;
}

#accom-marseille
{
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 20px 30px;
}

#accom-cards-list
{
    width: 100%; 
    height: 90%; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:space-between;
}

#accom-cards-list:nth-child(3)
{
    flex-basis: 33.33%; /*flex wrap after 3rd element*/
}

.card
{
    border-radius: 15px;
    background-color: white;
    display: flex;
    box-shadow: 3px 3px 10px lightgray, -3px -3px 10px lightgray;
    margin-bottom: 20px;
}

#accom-marseille .card
{
    width: 31%;
    height: 175px; 
    flex-direction: column;
    justify-content: flex-start;
}

.card:hover
{
    background-color: #DEEBFF;
}

.card-img img
{
    padding: 5px;
    width: 100%;
    height: 100%;
}

.card-text
{
    width: 100%;
    padding: 2% 0 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#accom-marseille .card-img
{
    margin: 0 auto;
    width: 100%;
    height: 58%;
}

#accom-marseille .card-img img
{
    object-fit:cover; /*aspect ratio maintained while filling the container clipped if does not fit*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#accom-marseille .card-text
{
    height: 42%;
}

.card-text h3
{
    margin: 0; 
}

.card-text p
{
    font-size: 13px;
    margin: 4px 0; 
}

.price-low
{
    font-weight: 700;
}

.card-text .stars
{
    padding-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.stars i
{
    padding:0 .8%;
    font-size: 11px;
}

.star-full i
{
    color: #0065FC;
}

.star-empty i
{
    color: #F2F2F2;
}

#accom-marseille #show-more
{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 17px;
    font-weight: 700;
}

#popular-marseille
{
    width: 32%;
    background-color: #F2F2F2;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 20px 30px;
}

#title-popular
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popular-cards-list
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#popular-marseille .card
{
    width: 100%;
    height: 130px;
    flex-direction: row;
    justify-content: flex-start;
}

#popular-marseille .card-img
{
    margin: 0;
    width: 43%;
}

#popular-marseille .card-img img
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

#popular-marseille .card-text
{
    justify-content: space-between;
    width: 57%;
    margin: 10px 15px 0 0;
}

/** Activities Section **/

#activities
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 0;
}

#activities h2
{
    width: 100%;
    margin-bottom: 2%;
}

#activities-cards
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#activities-cards .card-img
{
    margin: 0 auto;
    width: 100%;
}

#activities-cards .card-img img
{
    padding: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}

#activities-cards h3
{
    margin-left: 5%;
}

#activities-cards .tall-card, #activities-cards .small-card, #activities-cards .vsmall-card
{
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px lightgray, -3px -3px 10px lightgray;
}


#activities-cards .tall-card
{
    width: 23%;
    height: 350px;
}

#activities-cards .tall-card .card-img
{
    height: 90%;
}

.two-cards
{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

#activities-cards .small-card
{
    width: 100%;
    height: 190px;
}

#activities-cards .small-card .card-img
{
    height: 75%;
}

#activities-cards .vsmall-card
{
    width: 100%;
    height: 140px;
}

#activities-cards .vsmall-card .card-img
{
    height: 65%;
}


/** Footer **/
footer
{
    display: flex;
    background-color: #F2F2F2;
    padding: 1% 5%;
}

.footer-list
{
    margin-right: 20%;
}

footer ul
{
    list-style: none;
    padding-left: 0;
    line-height: 1.7;
}
